<html>
  <head>
    <title>บวกเลข</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Calculator</h1>
      <br>
      <form action="" method="post">
        <input type="number" placeholder="ตัวเลข" name="value1" value="{{
          request.form.value1 }}">
         <input type="number" placeholder="ตัวเลข" name="value2" value="{{
          request.form.value2 }}">
          <select type="text" name="sign">
            <option value="1">+</option>
            <option value="2">-</option>
            <option value="3">*</option>
            <option value="4">/</option>
         </select>
        <input class="btn btn-default" type="submit" value="Calculate">
      </form>
      {% if result %}
        <p class="result"><strong>Result:</strong> {{ result }}
      {% endif %}
    </div>
  </body>
</html>